page:not(.active) {
  display: none; }
page section:not(.active) {
  display: none; }

.navbar {
  user-select: none; }
  .navbar i#help {
    line-height: 50px;
    float: right;
    font-size: 25px;
    cursor: pointer; }

.sidebar {
  user-select: none; }
  .sidebar li.disabled {
    background-color: #495049; }
    .sidebar li.disabled:hover {
      background-color: #495049; }
    .sidebar li.disabled a {
      color: gray;
      cursor: not-allowed; }

page .page-header {
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 10px; }
  page .page-header h1 {
    margin: 0;
    display: inline; }
  page .page-header ul {
    float: right;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 10px; }
    page .page-header ul li {
      display: inline;
      cursor: pointer;
      font-size: 16px;
      margin-left: 3px; }

.feedback {
  font-size: 15px;
  margin-left: 10px; }
  .feedback .success {
    color: green; }
  .feedback .warning {
    color: orange; }
  .feedback .error {
    color: red; }

#pharmacy #patients textarea {
  resize: vertical; }
#pharmacy #patients table tbody td {
  padding: 0; }
  #pharmacy #patients table tbody td input {
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 4px; }

#incident-report textarea {
  resize: vertical;
  direction: rtl; }
#incident-report input {
  direction: rtl; }
#incident-report label {
  display: inherit;
  direction: rtl;
  text-align: right; }

page section toolbar .right, page section toolbar .left {
  display: inline; }
page section toolbar .right {
  float: right; }
page section#sheet toolbar label {
  margin-right: 4px; }
page section#sheet toolbar select {
  display: inline;
  margin-right: 15px; }
  page section#sheet toolbar select#sheet-day {
    width: 165px; }
  page section#sheet toolbar select#sheet-max {
    width: 80px; }
page section#sheet table {
  margin-top: 15px; }
  page section#sheet table thead {
    background-color: #3d5f41;
    color: white; }

/*# sourceMappingURL=app.css.map */
