@font-face {
   font-family: Primary;
   src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
   font-family: PrimaryBold;
   src: url('../fonts/Raleway-SemiBold.ttf');
}

body
{
    font-size: 16px;
    font-family: Primary;
}

header
{
   z-index: 1000;
    position: fixed;
    width: 100%;

}

div.navbar
{
    color: whitesmoke;
    background-color: #3D5F41;
    border-width: 0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px -1px black;
}

button.navbar-toggle
{
    display: inline;
    float: left;
}

button.navbar-toggle:hover
{
    background-color: #476d4b;
    box-shadow: 0 0 5px -2px #293e2b;
}

.navbar-toggle .icon-bar
{
    background-color: whitesmoke;
}

span.logo
{
    font-size: 24px;
    font-family: PrimaryBold;
    line-height: 50px;
   cursor: default;
}

div.sidebar
{
    z-index: 1000;
    position: fixed;
    top: 50px;
    float: left;
    background-color: #293e2b;
    color: whitesmoke;
    min-height: calc(100vh - 50px);
    margin-right: -210px;
    margin-left: -210px;
}

div.sidebar ul
{
    margin: 0;
    padding: 0;
    width: 210px;
}

div.sidebar ul.bottom
{
    position: absolute;
    bottom: 0;
}

div.sidebar ul li a
{
    height: 50px;
    font-size: 17px;
    line-height: 50px;
    padding-left: 15px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    display: block;
}

div.sidebar ul li:hover,
div.sidebar ul li.active
{
    background-color: #3D5F41;
}

div.sidebar ul.top li
{
    border-bottom: 1px ridge #3d5f41;
}

div.sidebar ul.bottom li
{
    border-top: 1px ridge #3d5f41;
}

div.sidebar ul.bottom li.tile
{
    display: inline-block;
    width: 52.5px;
    margin-right: -4px;
}

div.sidebar ul.bottom li.tile a
{
    padding: 0;
    text-align: center;
    font-size: 120%;
}

div.main
{
    padding: 50px 25px 30px;
    background-color: #e0e0e0;
    min-height: 100vh;
}

span.log-line
{
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
}

.alert
{
    display: block;
    padding-right: 25px;
    margin-top: 15px;
}

.alert button
{
    top: 0;
    margin-right: 10px;
}

.alert button i
{
    font-size: 90%;
}

#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 200px;
}
#suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* keydown, keyup */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* mouse over */
    background-color: #99CCFF;
}