<!doctype html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#3d5f41">
   <title>Hayah Software</title>
<!--<link rel="icon" href="/static/img/favicon.png" sizes="196x196">-->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/css/font-awesome.min.css">
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/app.css">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
</head>
<body>
   <header>
      <div class="navbar" role="navigation">
         <div class="container-fluid">
            <button type="button" class="navbar-toggle">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <span class="logo">Hayah Software</span>
            <i id="help" class="fa fa-warning fa-lg"></i>
         </div>
      </div>
   </header>

   <section>
      <div class="sidebar">
         <ul class="top">
            <li class="active"><a onload="" data-target-page="reception">Reception</a></li>
            <li><a onload="" data-target-page="clinic">Clinic</a></li>
            <li><a onload="" data-target-page="blood">Blood Lab</a></li>
            <li><a onload="" data-target-page="urine">Urine Lab</a></li>
            <li><a onload="" data-target-page="stool">Stool Lab</a></li>
            <li><a onload="" data-target-page="pharmacy">Pharmacy</a></li>
         </ul>
         <ul class="bottom">
            <li class=""><a onload="" data-target-page="incident-report">Incident report</a></li>
            <li class="tile disabled"><a title="Statistics" onload="" data-target-page="stats"><i class="fa fa-pie-chart"></i></a></li>
            <li class="tile disabled"><a title="System Log" onload="" data-target-page="log"><i class="fa fa-file-text"></i></a></li>
            <li class="tile disabled"><a title="Settings" onload="" data-target-page="settings"><i class="fa fa-cogs"></i></a></li>
            <li class="tile"><a title="Logout" href="/logout"><i class="fa fa-power-off"></i></a></li>
         </ul>
      </div>
      <div class="main">
            {% for message in get_flashed_messages(category_filter=['error']) %}
               <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                  {{message}}
               </div>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['warning']) %}
               <div class="alert alert-warning alert-dismissible" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
               {{message}}
            </div>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['info']) %}
               <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                  {{message}}
               </div>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=['success']) %}
               <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                  {{message}}
               </div>
            {% endfor %}
            <page id="reception" class="">
                {% include 'reception.html' %}
            </page>
            <page id="clinic" class="active">
                {% include 'clinic.html' %}
            </page>
            <page id="blood">
                {% include 'blood.html' %}
            </page>
            <page id="urine">
                {% include 'urine.html' %}
            </page>
            <page id="stool">
                {% include 'stool.html' %}
            </page>
            <page id="pharmacy">
                {% include 'pharmacy.html' %}
            </page>
            <page id="incident-report">
               {% include 'incident-report.html' %}
            </page>
            <page id="stats">
                {% include 'stats.html' %}
            </page>
            <page id="log">
                {% include 'log.html' %}
            </page>
            <page id="settings">
                {% include 'settings.html' %}
            </page>
      </div>
   </section>

   <script src="/static/js/jquery-3.1.1.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/suggest.js"></script>
   <script src="/static/js/app.js"></script>
   {% block afterload %}{% endblock %}
</body>
</html>
