<div class="page-header">
  <h1>Blood <span>- In</span></h1>
  <ul>
     <li class="btn btn-default active" data-target-section="in">In</li>
     <li class="btn btn-default" data-target-section="out">Out</li>
     <li class="btn btn-default" data-target-section="kick">Kick</li>
     <li class="btn btn-default" data-target-section="sheet">Sheet</li>
  </ul>
</div>
<section id="in" class="active">
   <form class="form-horizontal" class="col-sm-5" action="/blood/in" method="POST">
       <div class="form-group">
           <label for="bl_in_code" class="col-sm-1 control-label"><label for="bl_in_code">Sheet code</label></label>
           <div class="col-sm-3"><input class="form-control" id="bl_in_code" name="sheet_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <div class="form-group">
           <label for="bl_in_labcode" class="col-sm-1 control-label"><label for="bl_in_labcode">Lab code</label></label>
           <div class="col-sm-3"><input class="form-control" id="bl_in_labcode" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="out">
   <form class="form-horizontal" class="col-sm-5" action="/blood/out" method="POST">
       <div class="form-group">
           <label for="blood_out_code" class="col-sm-1 control-label"><label for="blood_out_code">Lab code</label></label>
           <div class="col-sm-3"><input class="form-control" id="blood_out_code" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <br>
       <div class="form-group">
           <label for="hepatitis" class="col-sm-1 control-label"><label for="hepatitis">Hepatitis</label></label>
           <div class="col-sm-1"><input class="form-control" id="hepatitis" name="hepatitis" type="text" autocomplete="off" value=""></div>
           <label for="cbc" class="col-sm-1 control-label"><label for="cbc">CBC</label></label>
           <div class="col-sm-1"><input class="form-control" id="cbc" name="cbc" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="albumin" class="col-sm-1 control-label"><label for="albumin">Albumin</label></label>
           <div class="col-sm-1"><input class="form-control" id="albumin" name="albumin" type="text" autocomplete="off" value=""></div>
           <label for="gpt" class="col-sm-1 control-label"><label for="gpt">GPT</label></label>
           <div class="col-sm-1"><input class="form-control" id="gpt" name="gpt" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="pt" class="col-sm-1 control-label"><label for="pt">PT</label></label>
           <div class="col-sm-1"><input class="form-control" id="pt" name="pt" type="text" autocomplete="off" value=""></div>
           <label for="bilirubin_direct" class="col-sm-1 control-label"><label for="bilirubin_direct">Bilirubin direct</label></label>
           <div class="col-sm-1"><input class="form-control" id="bilirubin_direct" name="bilirubin_direct" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="bilirubin_total" class="col-sm-1 control-label"><label for="bilirubin_total">Bilirubin total</label></label>
           <div class="col-sm-1"><input class="form-control" id="bilirubin_total" name="bilirubin_total" type="text" autocomplete="off" value=""></div>
           <label for="creatinine" class="col-sm-1 control-label"><label for="creatinine">Creatinine</label></label>
           <div class="col-sm-1"><input class="form-control" id="creatinine" name="creatinine" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="urea" class="col-sm-1 control-label"><label for="urea">Urea</label></label>
           <div class="col-sm-1"><input class="form-control" id="urea" name="urea" type="text" autocomplete="off" value=""></div>
           <label for="uric" class="col-sm-1 control-label"><label for="uric">Uric acid</label></label>
           <div class="col-sm-1"><input class="form-control" id="uric" name="uric" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="glucose" class="col-sm-1 control-label"><label for="glucose">Glucose</label></label>
           <div class="col-sm-1"><input class="form-control" id="glucose" name="glucose" type="text" autocomplete="off" value=""></div>
           <label for="esr" class="col-sm-1 control-label"><label for="esr">ESR</label></label>
           <div class="col-sm-1"><input class="form-control" id="esr" name="esr" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="asot" class="col-sm-1 control-label"><label for="asot">ASOT</label></label>
           <div class="col-sm-1"><input class="form-control" id="asot" name="asot" type="text" autocomplete="off" value=""></div>
           <label for="crp" class="col-sm-1 control-label"><label for="crp">CRP</label></label>
           <div class="col-sm-1"><input class="form-control" id="crp" name="crp" type="text" autocomplete="off" value=""></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="kick">
   <form class="form-horizontal" class="col-sm-5" action="/blood/kick" method="POST">
       <div class="form-group">
           <label for="blood_kick_code" class="col-sm-1 control-label"><label for="blood_kick_code">Sheet Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="blood_kick_code" name="sheet_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="blood_kick_labcode" class="col-sm-1 control-label"><label for="blood_kick_labcode">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="blood_kick_labcode" name="lab_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="blood_kick_name" class="col-sm-1 control-label"><label for="blood_kick_name">Name</label></label>
           <div class="col-sm-3"><input class="form-control" id="blood_kick_name" name="name" type="text" value="" autocomplete="off"></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="sheet" onload="refreshBloodSheet();">
   <script>
      function refreshBloodSheet() {
         $('page#blood section#sheet table tbody').html('');
         $.ajax({
            url   : '/blood/sheet',
            type  : 'GET',
            data  : '',
            success: function(response) {
            var count = 0;
            data = JSON.parse(unescape(response));
            data.forEach(function(x) {
                count += 1;
               sheet_code = x[00];
               lab_code = x[01];
               name = x[02];
               in_time = x[03];
               hasleft = x[04];
               out_time = x[05];
               urea = x[06];
               creatinine = x[07];
               uric = x[08];
               albumin = x[09];
               bilirubin_direct = x[10];
               bilirubin_total = x[11];
               glucose = x[12];
               pt = x[13];
               asot = x[14];
               cbc = x[15];
               gpt = x[16];
               crp = x[17];
               hepatitis = x[18];
               esr = x[19];
               row = '<tr><td>' + count + '</td><td>' + sheet_code + '</td><td>' + lab_code + '</td><td>' + name + '</td><td>' + in_time + '</td><td>' + out_time + '</td>';
               if (hasleft)
                  row += '<td><a style="cursor:pointer" onclick="alert(\'urea: ' + urea + '\\ncreatinine: ' + creatinine + '\\nuric: ' + uric + '\\nalbumin: ' + albumin + '\\nbilirubin direct: ' + bilirubin_direct + '\\nbilirubin total: ' + bilirubin_total + '\\nglucose: ' + glucose + '\\npt: ' + pt + '\\nasot: ' + asot + '\\ncbc: ' + cbc + '\\ngpt: ' + gpt + '\\ncrp: ' + crp + '\\nhepatitis: ' + hepatitis + '\\nesr: ' + esr + '\');">Show results</a></td></tr>';
               else
                  row += '<td></td></tr>'
               $('page#blood section#sheet table tbody').append(row);
            })
            },
            error: function() {
               alert('Server error');
            },
          });
      }
   </script>
<!--
   <toolbar>
      <div class="left">
         <label for="sheet-day">Show day</label>
         <select id="sheet-day" class="form-control">
            <option value="">Mon 21/08/2017</option>
            <option value="">Sun 20/08/2017</option>
            <option value="">Sat 19/08/2017</option>
            <option value="">Fri 18/08/2017</option>
            <option value="">All days</option>
         </select>
         <label for="sheet-max">Show max</label>
         <select id="sheet-max"  class="form-control">
            <option value="">50</option>
            <option value="">100</option>
            <option value="">200</option>
            <option value="">300</option>
            <option value="">All</option>
         </select>
      </div>
      <div class="right">
         <a class="btn btn-default" onclick="refreshBloodSheet()"><i class="fa fa-refresh"></i> Refresh</a>
         <a class="btn btn-default"><i class="fa fa-download"></i> Download Excel</a>
      </div>
   </toolbar>
-->
   <table class="table table-striped">
      <thead>
         <tr>
            <td>#</td>
            <td>Sheet code</td>
            <td>Lab code</td>
            <td>Name</td>
            <td>In</td>
            <td>Out</td>
            <td>Results</td>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</section>