<div class="page-header">
  <h1>Clinic <span><!-- - --></span></h1>
</div>
<section id="clinic" class="active">
   <form class="col-sm-5" action="/clinic/clinic" method="POST">
      <input type="hidden" name="action" value="insert">
     <div class="form-group">
       <label for="ph_code">Patient Code</label>
       <input type="text" class="form-control" id="ph_code" name="code" autocomplete="off" required>
       <span id="ph_patients_feedback"></span>
     </div>
     <div class="form-group">
      <label for="diag">Investigations</label><br>
      <div class="col-sm-12">
      <div class="col-sm-4"><label class="checkbox-inline" for="CBC"><input id="CBC" name="CBC" type="checkbox" value="y"> <label for="CBC">CBC</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="lft"><input id="lft" name="lft" type="checkbox" value="y"> <label for="lft">Liver func.</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="kft"><input id="kft" name="kft" type="checkbox" value="y"> <label for="kft">Kidney func.</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="bs"><input id="bs" name="bs" type="checkbox" value="y"> <label for="bs">Blood sugar</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="ESR"><input id="ESR" name="ESR" type="checkbox" value="y"> <label for="ESR">ESR</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="CRP"><input id="CRP" name="CRP" type="checkbox" value="y"> <label for="CRP">CRP</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="Uric acid"><input id="Uric acid" name="Uric acid" type="checkbox" value="y"> <label for="Uric acid">Uric acid</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="urine"><input id="urine" name="urine" type="checkbox" value="y"> <label for="urine">Urine analysis</label></label></div>
      <div class="col-sm-4"><label class="checkbox-inline" for="stool"><input id="stool" name="stool" type="checkbox" value="y"> <label for="stool">Stool analysis</label></label></div>
      </div>
      <button class="btn btn-primary">Request investigations</button>
      <button class="btn btn-success">Check results</button>
     </div>
     <div class="form-group">
      <label for="diag">Diagnosis</label>
      <textarea class="form-control" rows="4" id="diag" name="diag" style="resize: none;"></textarea>
     </div>
     <div class="form-group">
      <label for="treatment">Treatment</label>
      <textarea class="form-control" rows="4" id="treatment" name="treatment" style="resize: none;"></textarea>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span>
   </form>
</section>
<section id="drugs" onload="refreshDispensedDrugs();">
   <script>
      function refreshDispensedDrugs() {
         $('page#clinic section#clinic table tbody').html('');
         $.ajax({
            url   : '/pharmacy/drugs',
            type  : 'GET',
            data  : '',
            success: function(response) {
            drugs = JSON.parse(unescape(response));
            drugs.forEach(function(x) {
               name = x[0];
               qty  = x[1];
               $('page#clinic section#clinic table tbody').append('<tr><td>' + name + '</td><td>' + qty + '</td></tr>');
            })
            },
            error: function() {
               $('page#clinic section#clinic table tbody').append('<tr><td colspan="2">Error getting data from server</td></tr>');
            },
          });
      }
   </script>
   <table class="table table-striped">
      <thead style="background-color: #3d5f41; color: white;">
         <tr>
            <td>Drug Name</td>
            <td>Dispensed Quantity</td>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</section>