<div class="page-header">
  <h1>Incident report <span></span></h1>
</div>
<section id="report" class="active">
   <form class="col-sm-6" action="/incident-report" method="POST">
     <div class="form-group">
       <label for="report_name">اسم المبلغ عن الحادث</label>
       <input type="text" class="form-control" id="report_name" name="name" autocomplete="off" required>
     </div>
     <div class="form-group">
       <label for="report_team">فريق المبلغ عن الحادث</label>
       <input type="text" class="form-control" id="report_team" name="team" autocomplete="off" required>
     </div>
     <div class="form-group">
      <label for="report_details">تفاصيل الحادث</label>
      <textarea class="form-control" rows="7" id="report_details" name="details" autocomplete="off" required></textarea>
     </div>
     <div class="form-group">
      <label for="report_solution">هل لديك حل مقترح للحادث ؟</label>
      <textarea class="form-control" rows="4" id="report_solution" autocomplete="off" name="solution"></textarea>
     </div>
     <button type="submit" class="btn btn-primary">Submit report!</button><span class="feedback"></span>
   </form>
</section>
