<div class="page-header">
  <h1>Pharmacy <span>- Patients</span></h1>
  <ul>
     <li class="btn btn-default active" data-target-section="patients">Patients</li>
     <li class="btn btn-default" data-target-section="drugs">Drugs</li>
  </ul>
</div>
<section id="patients" class="active">
   <form class="col-sm-5" action="/pharmacy/patients" method="POST">
      <input type="hidden" name="action" value="insert">
     <div class="form-group">
       <label for="ph_code">Patient Code</label>
       <input type="text" class="form-control" id="ph_code" name="code" autocomplete="off" required style="width: 50%;display: inline-block;margin-left: 2px;">
       <button type="button" onclick="check()" class="btn btn-primary">Check</button>
       <span id="ph_patients_feedback"></span>
     </div>
<!--
     <div class="form-group">
      <label for="diag">Diagnosis</label>
      <textarea class="form-control" rows="4" id="diag" name="diag"></textarea>
     </div>
-->
     <div class="form-group">
        <label for="drugs">Prescriptions</label>
        <table class="table table-bordered">
           <thead>
              <tr>
                 <td class="col-sm-8">Drug name</td>
                 <td class="col-sm-3">Qty</td>
                 <td class="col-sm-1"></td>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td><input type="text" name="drugs-0" autocomplete="off"></td>
                 <td><input type="number" name="qty-0" autocomplete="off"></td>
                 <td><button type="button" class="btn btn-success btn-sm" onclick="dispense(this)"><i class="fa fa-check"></i></button></td>
              </tr>
           </tbody>
        </table>
     </div>
     <div class="form-group">
      <label for="refer_to">Refer to</label>
      <input type="text" class="form-control" id="refer_to" name="refer_to" autocomplete="off">
     </div>
     <div class="form-group">
      <label for="refer_tel">Telephone</label>
      <input type="text" class="form-control" id="refer_tel" name="refer_tel" autocomplete="off">
     </div>
     <button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span>
   </form>
</section>
<section id="drugs" onload="refreshDispensedDrugs();">
   <script>
      function refreshDispensedDrugs() {
         $('page#pharmacy section#drugs table tbody').html('');
         $.ajax({
            url   : '/pharmacy/drugs',
            type  : 'GET',
            data  : '',
            success: function(response) {
            drugs = JSON.parse(unescape(response));
            drugs.forEach(function(x) {
               name = x[0];
               qty  = x[1];
               $('page#pharmacy section#drugs table tbody').append('<tr><td>' + name + '</td><td>' + qty + '</td></tr>');
            })
            },
            error: function() {
               $('page#pharmacy section#drugs table tbody').append('<tr><td colspan="2">Error getting data from server</td></tr>');
            },
          });
      }
       
       function dispense(item) {
           $('input, button', $(item).parent().parent()).attr("disabled", "disabled");
           return;
       }
   </script>
   <table class="table table-striped">
      <thead style="background-color: #3d5f41; color: white;">
         <tr>
            <td>Drug Name</td>
            <td>Dispensed Quantity</td>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</section>