<div class="page-header">
    <h1>Reception <span>- Entry</span></h1>
    <ul>
        <li class="btn btn-default active" data-target-section="entry">Entry</li>
        <li class="btn btn-default" data-target-section="kick">Kick</li>
        <li class="btn btn-default disabled" data-target-section="overview">Overview</li>
        <li class="btn btn-default" data-target-section="sheet">Sheet</li>
    </ul>
</div>
<section id="entry" class="active">
    <form class="form-horizontal" action="/reception/entry" method="POST">
        <div class="form-group">
            <label for="rece_entry_code" class="col-sm-1 control-label"><label for="rece_entry_code">Code</label></label>
            <div class="col-sm-3"><input data-autocomplete-using="dum" class="form-control" id="rece_entry_code" name="code" type="text" value="" autocomplete="off" required></div>
        </div>
        <div class="form-group">
            <label for="rece_entry_name" class="col-sm-1 control-label"><label for="rece_entry_name">Name</label></label>
            <div class="col-sm-3"><input class="form-control" style="direction:rtl;" id="rece_entry_name" name="name" type="text" value="" autocomplete="off" required></div>
        </div>
        <div class="form-group">
            <label for="rece_entry_occupation" class="col-sm-1 control-label"><label for="rece_entry_occupation">Occupation</label></label>
            <div class="col-sm-3"><input class="form-control" style="" id="rece_entry_occupation" name="occupation" type="text" value="" autocomplete="off" ></div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-1 control-label"><label for="age">Age</label></label>
            <div class="col-sm-1"><input class="form-control" id="age" name="age" type="text" value="" autocomplete="off" ></div>
            <!--<label class="col-sm-1 control-label">Gender</label>-->
            <span class="col-sm-2" style="margin-left: 26px;">
                <label class="radio-inline" for="gender-0"><input id="gender-0" name="gender" type="radio" value="male"> <label for="gender-0">Male</label></label>
                <label class="radio-inline" for="gender-1" style="margin-left: 18px;"><input id="gender-1" name="gender" type="radio" value="female"> <label for="gender-1">Female</label></label>
            </span>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-1 control-label"><label for="height">Height</label></label>
            <div class="col-sm-1"><input class="form-control" id="height" name="height" type="text" value="" autocomplete="off" ></div>
            <label for="age" class="col-sm-1 control-label"><label for="weight">Weight</label></label>
            <div class="col-sm-1"><input class="form-control" id="weight" name="weight" type="text" value="" autocomplete="off" ></div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-1 control-label"><label for="blood_pressure">B/P</label></label>
            <div class="col-sm-1"><input class="form-control" id="blood_pressure" name="blood_pressure" type="text" value="" autocomplete="off" ></div>
            <label for="age" class="col-sm-1 control-label"><label for="blood_sugar">B/S</label></label>
            <div class="col-sm-1"><input class="form-control" id="blood_sugar" name="blood_sugar" type="text" value="" autocomplete="off" ></div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-1 control-label"><label for="history">History</label></label>
            <div class="col-sm-3"><textarea class="form-control" id="history" name="history" rows="4" value="" autocomplete="off" style="resize: none;"></textarea></div>
        </div>
        <div class="form-group">
            <span class="col-sm-3 col-sm-offset-1">
                <label class="checkbox-inline" for="smoker"><input id="smoker" name="smoker" type="checkbox" value="y"> <label for="smoker">Smoker</label></label>
                <label class="checkbox-inline" for="hypertension"><input id="hypertension" name="hypertension" type="checkbox" value="y"> <label for="hypertension">HTN</label></label>
                <label class="checkbox-inline" for="diabetes"><input id="diabetes" name="diabetes" type="checkbox" value="y"> <label for="diabetic">DM</label></label>
            </span>
        </div>
        <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
    </form>
</section>
<section id="kick">
    <form class="form-horizontal" class="col-sm-5" action="/reception/kick" method="POST">
        <div class="form-group">
            <label for="rece_kick_code" class="col-sm-1 control-label"><label for="rece_kick_code">Code</label></label>
            <div class="col-sm-3"><input class="form-control" id="rece_kick_code" name="code" type="text" value="" autocomplete="off"></div>
        </div>
        <div class="form-group">
            <label for="rece_kick_name" class="col-sm-1 control-label"><label for="rece_kick_name">Name</label></label>
            <div class="col-sm-3"><input class="form-control" id="rece_kick_name" name="name" type="text" value="" autocomplete="off"></div>
        </div>
        <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
    </form>
</section>
<section id="overview"></section>
<section id="sheet" onload="refreshReceptionSheet();">
    <script>
        function refreshReceptionSheet() {
            $('page#reception section#sheet table tbody').html('');
            $.ajax({
                url   : '/reception/sheet',
                type  : 'GET',
                data  : '',
                success: function(response) {
                    var count = 0;
                    data = JSON.parse(unescape(response));
                    data.forEach(function(x) {
                        count += 1;
                        code = x[0];
                        name = x[1];
                        in_time = x[2];
                        gender = x[3];
                        age = x[4];
                        stage = x[5];
                        row = '<tr><td>' + count + '</td><td>' + code + '</td><td>' + name + '</td><td>' + in_time + '</td><td>' + gender + '</td><td>' + age + '</td><td>' + stage + '</td></tr>';
                        $('page#reception section#sheet table tbody').append(row);
                    })
                },
                error: function() {
                    alert('Server error');
                },
            });
        }
    </script>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>Code</td>
                <td>Name</td>
                <td>In</td>
                <td>Gender</td>
                <td>Age</td>
                <td>Stage</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>
