<div class="page-header">
  <h1>Stool <span>- In</span></h1>
  <ul>
     <li class="btn btn-default active" data-target-section="in">In</li>
     <li class="btn btn-default" data-target-section="out">Out</li>
     <li class="btn btn-default" data-target-section="kick">Kick</li>
     <li class="btn btn-default" data-target-section="sheet">Sheet</li>
  </ul>
</div>
<section id="in" class="active">
   <form class="form-horizontal" class="col-sm-5" action="/stool/in" method="POST">
       <div class="form-group">
           <label for="stool_in_code" class="col-sm-1 control-label"><label for="stool_in_code">Sheet Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_in_code" name="sheet_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <div class="form-group">
           <label for="stool_in_labcode" class="col-sm-1 control-label"><label for="stool_in_labcode">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_in_labcode" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="out">
   <form class="form-horizontal" class="col-sm-5" action="/stool/out" method="POST">
       <div class="form-group">
           <label for="stool_out_name" class="col-sm-1 control-label"><label for="stool_out_name">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_out_name" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <br>
       <div class="form-group">
           <label for="stool_schmansoni" class="col-sm-1 control-label"><label for="stool_schmansoni">Sch.Mans.</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_schmansoni" name="schmansoni" type="text" autocomplete="off" value=""></div>
           <label for="stool_ascaris" class="col-sm-1 control-label"><label for="stool_ascaris">Ascaris</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_ascaris" name="ascaris" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="stool_fasciola" class="col-sm-1 control-label"><label for="stool_fasciola">Fasciola</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_fasciola" name="fasciola" type="text" autocomplete="off" value=""></div>
           <label for="stool_ancylostoma" class="col-sm-1 control-label"><label for="stool_ancylostoma">Ancylo.</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_ancylostoma" name="ancylostoma" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="stool_taenia" class="col-sm-1 control-label"><label for="stool_taenia">Taenia</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_taenia" name="taenia" type="text" autocomplete="off" value=""></div>
           <label for="stool_hnana" class="col-sm-1 control-label"><label for="stool_hnana">H.Nana</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_hnana" name="hnana" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="stool_enterobius" class="col-sm-1 control-label"><label for="stool_enterobius">Enterob.</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_enterobius" name="enterobius" type="text" autocomplete="off" value=""></div>
           <label for="stool_glamblia" class="col-sm-1 control-label"><label for="stool_glamblia">G.Lamblia</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_glamblia" name="glamblia" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="stool_ecoli" class="col-sm-1 control-label"><label for="stool_ecoli">E.Coli</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_ecoli" name="ecoli" type="text" autocomplete="off" value=""></div>
           <label for="stool_ehistolytica" class="col-sm-1 control-label"><label for="stool_ehistolytica">E.Histoly.</label></label>
           <div class="col-sm-1"><input class="form-control" id="stool_ehistolytica" name="ehistolytica" type="text" autocomplete="off" value=""></div>
       </div>
       <br>
       <div class="form-group">
           <label for="stool_other" class="col-sm-1 control-label"><label for="stool_other">Other</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_other" name="other" type="text" autocomplete="off" value=""></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="kick">
   <form class="form-horizontal" class="col-sm-5" action="/stool/kick" method="POST">
       <div class="form-group">
           <label for="stool_kick_code" class="col-sm-1 control-label"><label for="stool_kick_code">Sheet Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_kick_code" name="sheet_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="stool_kick_labcode" class="col-sm-1 control-label"><label for="stool_kick_name">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_kick_name" name="lab_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="stool_kick_name" class="col-sm-1 control-label"><label for="stool_kick_name">Name</label></label>
           <div class="col-sm-3"><input class="form-control" id="stool_kick_name" name="name" type="text" value="" autocomplete="off"></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="sheet" onload="refreshStoolSheet();">
   <script>
      function refreshStoolSheet() {
         $('page#stool section#sheet table tbody').html('');
         $.ajax({
            url   : '/stool/sheet',
            type  : 'GET',
            data  : '',
            success: function(response) {
            var count = 0;
            data = JSON.parse(unescape(response));
            data.forEach(function(x) {
               count += 1;
               sheet_code = x[00];
               lab_code = x[01];
               name = x[02];
               in_time = x[03];
               hasleft = x[04];
               out_time = x[05];
               ehistolytica = x[06];
               ecoli = x[07];
               glamblia = x[08];
               enterobius = x[09];
               hnana = x[10];
               taenia = x[11];
               ancylostoma = x[12];
               fasciola = x[13];
               ascaris = x[14];
               schmansoni = x[15];
               other = x[16];
               row = '<tr><td>' + count + '</td><td>' + sheet_code + '</td><td>' + lab_code + '</td><td>' + name + '</td><td>' + in_time + '</td><td>' + out_time + '</td>';
               if (hasleft)
                  row += '<td><a style="cursor:pointer" class="" onclick="alert(\'ehistolytica: ' + ehistolytica + '\\necoli: ' + ecoli + '\\nglamblia: ' + glamblia + '\\nenterobius: ' + enterobius + '\\nhnana: ' + hnana + '\\ntaenia: ' + taenia + '\\nancylostoma: ' + ancylostoma + '\\nfasciola: ' + fasciola + '\\nascaris: ' + ascaris + '\\nschmansoni: ' + schmansoni + '\\nother: ' + other + '\');">Show results</a></td></tr>';
               else
                  row += '<td></td></tr>'
               $('page#stool section#sheet table tbody').append(row);
            })
            },
            error: function() {
              alert('Server error');
            },
          });
      }
   </script>
   <table class="table table-striped">
      <thead>
         <tr>
            <td>#</td>
            <td>Sheet code</td>
            <td>Lab code</td>
            <td>Name</td>
            <td>In</td>
            <td>Out</td>
            <td>Results</td>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</section>