<div class="page-header">
  <h1>Urine <span>- In</span></h1>
  <ul>
     <li class="btn btn-default active" data-target-section="in">In</li>
     <li class="btn btn-default" data-target-section="out">Out</li>
     <li class="btn btn-default" data-target-section="kick">Kick</li>
     <li class="btn btn-default" data-target-section="sheet">Sheet</li>
  </ul>
</div>
<section id="in" class="active">
   <form class="form-horizontal" class="col-sm-5" action="/urine/in" method="POST">
       <div class="form-group">
           <label for="urine_in_code" class="col-sm-1 control-label"><label for="urine_in_code">Sheet Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_in_code" name="sheet_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <div class="form-group">
           <label for="urine_in_labcode" class="col-sm-1 control-label"><label for="urine_in_labcode">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_in_code" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="out">
   <form class="form-horizontal" class="col-sm-5" action="/urine/out" method="POST">
       <div class="form-group">
           <label for="urine_out_name" class="col-sm-1 control-label"><label for="urine_out_name">Lab code</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_out_name" name="lab_code" type="text" value="" autocomplete="off" required></div>
       </div>
       <br>
       <div class="form-group">
           <label for="urine_epith" class="col-sm-1 control-label"><label for="urine_epith">Epith.</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_epith" name="epith" type="text" autocomplete="off" value=""></div>
           <label for="urine_rbcs" class="col-sm-1 control-label"><label for="urine_rbcs">RBCs</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_rbcs" name="rbcs" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="urine_pus" class="col-sm-1 control-label"><label for="urine_pus">Pus</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_pus" name="pus" type="text" autocomplete="off" value=""></div>
           <label for="urine_uric" class="col-sm-1 control-label"><label for="urine_uric">Uric</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_uric" name="uric" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="urine_ca_ox" class="col-sm-1 control-label"><label for="urine_ca_ox">Ca. Ox</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_ca_ox" name="ca_ox" type="text" autocomplete="off" value=""></div>
           <label for="urine_amorph" class="col-sm-1 control-label"><label for="urine_amorph">Amorph.</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_amorph" name="amorph" type="text" autocomplete="off" value=""></div>
       </div>
       <div class="form-group">
           <label for="urine_phosph" class="col-sm-1 control-label"><label for="urine_phosph">Phosph</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_phosph" name="phosph" type="text" autocomplete="off" value=""></div>
           <label for="urine_cast" class="col-sm-1 control-label"><label for="urine_cast">Cast</label></label>
           <div class="col-sm-1"><input class="form-control" id="urine_cast" name="cast" type="text" autocomplete="off" value=""></div>
       </div>
       <br>
       <div class="form-group">
           <label for="urine_other" class="col-sm-1 control-label"><label for="urine_other">Other</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_other" name="other" type="text" autocomplete="off" value=""></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="kick">
   <form class="form-horizontal" class="col-sm-5" action="/urine/kick" method="POST">
       <div class="form-group">
           <label for="urine_kick_code" class="col-sm-1 control-label"><label for="urine_kick_code">Sheet Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_kick_code" name="sheet_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="urine_kick_code" class="col-sm-1 control-label"><label for="urine_kick_code">Lab Code</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_kick_code" name="lab_code" type="text" value="" autocomplete="off"></div>
       </div>
       <div class="form-group">
           <label for="urine_kick_name" class="col-sm-1 control-label"><label for="urine_kick_name">Name</label></label>
           <div class="col-sm-3"><input class="form-control" id="urine_kick_name" name="name" type="text" value="" autocomplete="off"></div>
       </div>
     <div class="col-sm-offset-1"><button type="submit" class="btn btn-primary">Submit</button><span class="feedback"></span></div>
   </form>
</section>
<section id="sheet" onload="refreshUrineSheet();">
   <script>
      function refreshUrineSheet() {
         $('page#urine section#sheet table tbody').html('');
         $.ajax({
            url   : '/urine/sheet',
            type  : 'GET',
            data  : '',
            success: function(response) {
            var count = 0;
            data = JSON.parse(unescape(response));
            data.forEach(function(x) {
              count += 1;
               sheet_code = x[00];
               lab_code = x[01];
               name = x[02];
               in_time = x[03];
               hasleft = x[04];
               out_time = x[05];
               rbc = x[06];
               pus = x[07];
               epith = x[08];
               cast = x[09];
               ca_ox = x[10];
               phosph = x[11];
               uric = x[12];
               amorph = x[13];
               other = x[14];
               row = '<tr><td>' + count + '</td><td>' + sheet_code + '</td><td>' + lab_code + '</td><td>' + name + '</td><td>' + in_time + '</td><td>' + out_time + '</td>';
               if (hasleft)
                  row += '<td><a style="cursor:pointer" class="" onclick="alert(\'rbc: ' + rbc + '\\npus: ' + pus + '\\nepith: ' + epith + '\\ncast: ' + cast + '\\nca_ox: ' + ca_ox + '\\nphosph: ' + phosph + '\\nuric: ' + uric + '\\namorph: ' + amorph + '\\nother: ' + other + '\');">Show results</a></td></tr>';
               else
                  row += '<td></td></tr>'
               $('page#urine section#sheet table tbody').append(row);
            })
            },
            error: function() {
              alert('Server error');
            },
          });
      }
   </script>
   <table class="table table-striped">
      <thead>
         <tr>
            <td>#</td>
            <td>Sheet code</td>
            <td>Lab code</td>
            <td>Name</td>
            <td>In</td>
            <td>Out</td>
            <td>Results</td>
         </tr>
      </thead>
      <tbody></tbody>
   </table>
</section>